@tailwind base;
:root {
    --primaryGreen: #1b4f4a;
    --dirtyWhite: #f8f6f1;
    --primaryOrange: #f26924;
    --primaryYellow: #fdb62b;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@tailwind components;
.btn:hover .tooltip {
    display: block;
}
.checker:checked + label {
    text-decoration: underline dotted var(--primaryYellow);
    text-underline-offset: 5px;
}
@tailwind utilities;
